.contact-us{
    width: 100%;
    padding-top: 5rem;
    background: linear-gradient( rgb(129, 217, 46), rgb(176, 218, 136), rgb(201, 200, 200));
    padding-bottom: 4rem;
}
.contact-us-inner{
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.first-sec{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.form-sec{
    padding-top: 1rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    
}
.contact-form{
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 10px;
}
.form-heading h3{
    font-size: 25px;
}
.form-heading hr{
    width: 13rem;

}
.contact-inputs{
    width: 15rem;
    height: 3rem;
    border-radius: 1rem;
    border: none;
    padding-left: 1rem;
    font-family: cinzel;
    font-weight: 600;

}
.contact-inputs-textarea{
    width: 15rem;
    height: 5rem;
    border: none;
    border-radius: 1rem;
    padding-left: 1rem;
    font-family: cinzel;
    font-weight: 600;
}
.contact-button{
    display: flex;
    flex-direction: row;
    width: 6rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: none;
    border-radius: 1rem;
    background-color: #3c8b96;
    color: white;
    font-family: cinzel;
    font-weight: 600;

}
.submit-icon{
    width: 1rem;
}

@media (max-width: 783px) {
    .contact-us-inner{
        flex-direction: column;
        margin: 0 auto;
    }
    .first-sec{
        width: 90%;
        margin: 0 auto;
    }
    .first-sec h3{
        text-align: center;
    }
    .first-sec p{
        text-align: center;
    }
    .form-sec{
        margin: 0 auto;
        width: 95%;
        padding-left: 0;
    }
    .contact-inputs{
    width: 12rem;

    }
    .contact-inputs-textarea{
        width: 11rem;
    }
}