.gallery-sec{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
    padding-bottom: 3rem;
    background: linear-gradient(rgba(155, 169, 150, 0.826), azure);
}
.gallery-inner{
    width: 95%;
    height: 90%;    
}
.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    grid-gap: 10px;
}
.pic-con{
    width: 17rem;
    height: 10rem;
    overflow: hidden;
    background-color: aqua;
    border: solid 2px rgb(41, 114, 41);
    margin: 0 auto;
}
.picture{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: center;
}

.viewed-img-con{
    width: 100%;
    height: 100vh;
    display: flex;
    position: fixed;
    background-color: rgba(45, 49, 45, 0.9);
    top: 0;
    display: none;

}
.viewed-img{
    width: 90%;
    height: 80%;
    position: relative;
    top: 16%;
    left: 4%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    

}

.closing-button{
    position: fixed;
    top: 10%;
    right: 5%;
    font-size: 25px;
    font-weight: 600;
    color: white;
}
.closing-icon{
    width: 2rem;
    z-index: 100;
}
.img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}